.user-wrapper {
    margin-top: 30px;
}
.user-wrapper .member{
    width: 15vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);

}
.user-wrapper div span {
    margin-right: 8px;
}
.user-wrapper .btn {
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}