.form-wrapper {
    width: 30vw;
    margin: auto;
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
.form-item {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
}
.form-item input {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #c9c8c8;
    padding: 6px;
    border-radius: 5px;
    width: -webkit-fill-available;
    outline: none;
}
.form-wrapper .btn {
    background-color: #edb5f5;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}